<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title >this is home page</title>






</head>
<body>

<section class="banner d-flex  " >

	<ol class="class1">
	<li>
	<h4 style="text-align: left" >this is the content of the home page</h4>
	
	
	</li>
	<li>
	
	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim officiis adipisci labore molestiae quod perferendis excepturi totam vel provident explicabo eligendi accusamus esse iure nemo officia perspiciatis illo beatae ex aut recusandae autem quisquam!</h4>
	
    </li>
    
    
   <button type="button" class="btn btn-outline-success gg" ><a th:href="@{https://www.youtube.com/watch?v=rgBY2rfsWNQ&list=PL0zysOflRCelmjxj-g4jLr3WKraSU_e8q&index=49}"  style="text-decoration:none">submit</a></button>




</ol>




</section>





</body>
</html>